/*****************************BASIC TAGS********************************/
body{
    margin: 0;
}
/*****************************CLASS TAGS********************************/


/*****************************ID TAGS********************************/


/*****************************MORE********************************/


/*****************************COLORS AND SOME HELP********************************/
.colors{
    color: ;
    background-color: ;
}

